<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mysql.Mapper.BlackListMapper">

    <resultMap id="BlackListMap"
               type="cn.mysql.entity.BlackListDO">
        <result property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="type" column="tupe" />
        <result property="value" column="value" />
        <result property="deleteFlag" column="delete_flag" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <insert id="insert" parameterType="cn.mysql.entity.BlackListDO">
        insert into
        black_list(uuid,type,value,delete_flag,gmt_create,gmt_modified)
        values
        (#{uuid:VARCHAR},#{type:VARCHAR},#{value:VARCHAR},
        #{deleteFlag:INTEGER},#{gmtCreate:DATE},#{gmtModified:DATE})
    </insert>

    <insert id="insertBatch" parameterType="List">
        insert into black_list
        (uuid,type,value,delete_flag,gmt_create,gmt_modified) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.uuid},#{item.type},#{item.value}
            #{item.deleteFlag},#{item.gmtCreate},#{item.gmtModified})
        </foreach>
    </insert>

</mapper> 